@keyframes breeze{
  0%{
    transform: rotate(0deg) translate(40px, 0);
  }
  100%{
    transform: rotate(10deg) translate(0, 10px);
  }
}
@keyframes rotate{
  100%{
    transform: rotate(-360deg);
  }
}
