<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
             Getting Started <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/getting-started/basic">Basic</a></li>
            <li><a href="/getting-started/angular1">Angular 1.x</a></li>
            <li><a href="/getting-started/angular2">Angular 2.x</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
             Guides <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">(coming soon)</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
             API <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/api/reference#IAnimator">IAnimator</a></li>
            <li><a href="/api/reference#ICallbackHandler">ICallbackHandler</a></li>
            <li><a href="/api/reference#IKeyframe">IKeyframe</a></li>
          </ul>
        </li>
      </ul>
     
     <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/just-animate/just-animate">GitHub</a></li>
     </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>