<nav class="nav">
  <div class="nav__group">
    <h3 class="nav__heading">Basics</h3>
    <ul class="nav__links">
      <li><a href="/introduction">Introduction</a></li>
      <li><a href="/setup-cdn">Set up from CDN</a></li>
      <li><a href="/setup-npm">Set up from NPM</a></li>
    </ul>
  </div>
  <div class="nav__group">
    <h3 class="nav__heading">Guides</h3>
    <ul class="nav__links">
      <li><a href="/basic-usage">Basic usage</a></li>
      <li><a href="/property-options">Property options</a></li>
      <li><a href="/delays-and-staggers">Delays and Staggers</a></li>
      <li><a href="/sequences">Sequences options</a></li>
      <li><a href="/easings">Easings</a></li>
      <li><a href="/waapi">Web Animation API</a></li>
      <li><a href="/css-vars">CSS Variables</a></li>
      <li><a href="/api">API reference</a></li>
      <li><a href="/extras">Extras</a></li>
    </ul>
  </div>
</nav>
