*{
  box-sizing: border-box;
  &:focus{
    outline: thin solid $color-brand-2;
  }
}
html{
  font-size: 62.5%;
}
body{
  font: 400 1.8rem/1.3 $font--primary;
  color: $text-color;
  overflow-x: hidden;
}
a{
  color: $color-links;
  text-decoration: none;
}
img{
  max-width: 100%;
}
blockquote{
  margin: 2rem 1rem 0;
  padding: .5rem 2rem;
  border-left: solid thick #ddd;
  background: #fefefe;
  color: #555;
}
.wrap{
  width: 100%;
  max-width: $site-width;
  margin: auto;
  padding: 1rem;
}
