*{
  box-sizing: border-box;
  &:focus{
    outline: thin solid $color-brand-2;
  }
}
html{
  font-size: 62.5%;
}
body{
  font: 400 1.8rem/1.3 $font--primary;
  color: $text-color;
}
a{
  color: $color-links;
  text-decoration: none;
}
.wrap{
  width: 100%;
  max-width: $site-width;
  margin: auto;
  padding: 1rem;
}
