*{
  box-sizing: border-box;
  &:focus{
    outline: thin solid $color-brand-2;
  }
}
html{
  font-size: 62.5%;
}
body{
  font: 400 1.8rem/1.3 $font--primary;
  color: $text-color;
  overflow-x: hidden;
}
a{
  color: $color-links;
  text-decoration: none;
}
img{
  max-width: 100%;
}
blockquote{
  margin: 2rem 1rem 0;
  padding: .5rem 2rem;
  border-left: solid thick #ddd;
  background: #fefefe;
  color: #555;
}
table{
  display: block;
  width: 100%;
  margin: 1rem 0 1.5rem;
  overflow: auto;
  font-size: 1.6rem;
}
thead, tbody{
  width: 100%;
}
tr{
  border-top: solid thin #ccd;
  &:nth-child(2n){
    background-color: #f6f8f9;
  }
}
td,th{
  padding: 1rem 2rem;
  border: solid thin #dee;
}
.wrap{
  width: 100%;
  max-width: $site-width;
  margin: auto;
  padding: 1rem;
}
