.nav{
  position: absolute;
  top: 0;
  left: -25rem;
  width: 25rem;
  height: 100%;
  padding: 1rem 3rem 0;
  font-size: 1.6rem;
  background: $color-brand-2;
  color: white;
  transition: transform .5s cubic-bezier(.68,-0.12,0,1.18);
  @include breakpoint($breakpoint-tablet-portrait){
    top: auto;
    left: 3rem;
    background: none;
    color: #333;
  }
  &::after{
    content: '|||';
    position: absolute;
    top: 10rem;
    right: -3.8rem;
    padding: 1.5rem .5rem 1.5rem 1rem;
    background: $color-brand-2;
    color: white;
    border-radius: 0 .5rem .5rem 0;
    writing-mode: vertical-rl;
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
    @include breakpoint($breakpoint-tablet-portrait){
      display: none;
    }
  }
  .page--navopen &{
    transform: translateX(25rem);
  }
  &__group{
    margin-bottom: 2rem;
  }
  &__links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      margin-bottom: 1rem;
    }
    a{
      display: block;
      position: relative;
      z-index: 10;
      padding: .4rem 0;
      color: inherit;
      &:hover{
        color: darken($color-links, 30%);
        @include breakpoint($breakpoint-tablet-portrait){
          color: $color-links;
        }
      }
    }
  }
}
