.page{
  position: relative;
  padding: 1rem 3rem;
  @include breakpoint($breakpoint-tablet-portrait){
    padding: 1rem 6rem;
  }
  &__header{
    height: 15rem;
    padding: 3.5rem 0;
    color: #333;
    a{
      color: inherit;
    }
  }
  &__content{
    @include breakpoint($breakpoint-tablet-portrait){
      margin-left: 200px;
    }
  }
}
