pre {
  margin: 2rem 0;
  padding: 1.5rem 2rem;
  background: #f8f8f8;
  border-radius: $inputs-border-radius;
  text-align: left;
  &.showcase{
    width: 90%;
    max-width: 50rem;
    margin: 2rem auto;
  }
}

:not(pre) > code {
  // targetted styles for non-code snippets
  padding: .2rem .35rem 0 .35rem; 
  font-weight: bold;
}