.drip-drop{
  position: absolute;
  top: 2.6rem;
  left: 0;
  list-style-type: none;
  width: 18rem;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: rgba(white, .2);
  text-align: left;
  transform: scaleY(0);
  transition: transform .4s ease-in-out;
  transition-timing-function: cubic-bezier(.68,-0.12,0,1.18);
  transform-origin: top;
  &--expand{
    transform: scaleY(1);
    color: rgba(white, 1);
  }
  li{
    padding: 0;
  }
  a{
    display: block;
    padding: 1rem;
    background: $color-brand-2;
    border: solid thin $color-brand-1;
    border-top: 0;
    color: inherit;
    transition: background .2s ease;
    &:hover{
      background: darken($color-brand-2, 5%);
    }
  }
}
