--- 
layout: default 
---
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 no-left-gutter">
      <nav id="navbar">
        <nav class="hidden-print hidden-xs hidden-sm affix">
          <ul class="nav" id="side-navigation">
            <li> <a href="#CSSAnimatedProperties">CSS Animated Properties</a></li>
            <li> <a href="#CSSTransformProperties">CSS Transform Properties</a></li>
            <li> <a href="#Easings">Easings</a></li>
            <li> <a href="#IAnimationEffectTiming">IAnimationEffectTiming</a></li>
            <li> <a href="#IAnimator">IAnimator</a></li>
            <li> <a href="#ICallbackHandler">ICallbackHandler</a></li>
            <li> <a href="#IKeyframe">IKeyframe</a></li>
            <li> <a href="#IKeyframe">JustAnimate</a></li>
          </ul>
        </nav>
      </nav>
    </div>
    <div class="col-md-9">
      {{ content }}
    </div>
  </div>
</div>

<script src="/assets/api.js"></script>

<style>
  #navbar {
    top: 100;
  }
</style>