---
layout: default
---
<div class="page">

  <header class="page__header">
    <div class="logo logo--pages">
      <div class="logo__j">
        <svg><use xlink:href="#logo-j"></use></svg>
      </div>
      <div class="logo__a">
        <svg><use xlink:href="#logo-a"></use></svg>
      </div>
      <div class="logo__words">
        <svg><use xlink:href="#logo-words"></use></svg>
      </div>
    </div>
  </header>

  {% include navigation.html %}
  <article class="page__content">
    {{ content }}
  </article>

</div>
